<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <link rel="shortcut icon" href="/assets/favicon.ico?v=004" type="image/x-icon" />
    <link href="https://fonts.googleapis.com/css?family=Roboto:400,400i,500" rel="stylesheet">
    <title>{{title}}</title>
    <meta property="title" content="{{title}}" />
    <meta property="og:title" content="{{title}}" />
    <meta property="image" content="{{image}}" />
    <meta property="og:image" content="{{image}}" />
    <meta property="description" content="{{description}}" />
    <meta property="og:description" content="{{description}}" />
    <script>
      window.APP_STATE = {{{initialState}}};
    </script>
  </head>
  <body>
    {{{body}}}
  </body>
</html>
